/*MAIN CSS FILE*/
/*V1*/

html{
    background-color: #FEC52E;
}

#title{
    padding-top: 10%;
}

#title p{
    font-size: 8rem;
    margin: 0;
    text-align: center;
    color:#0F3E60;
    font-family: 'Josefin Sans', sans-serif;
    
}

a{text-decoration: none;}

a .mainbttn{
    text-decoration: none;
    color: black;
}

#buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.mainbttn{
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 1%;
    font-family: 'Josefin Sans', regular;
}

.mainbttn p{
    background-color: white;
    border: 2px solid white;
    border-radius: 65px;
    padding: 8%;
    font-size: 3rem;
    color:#0F3E60;
   
}

#hero img{
    width: 70%;
    margin: 15%;
}
#text{
    font-family: 'Josefin Sans', regular;
    text-align: center;
    padding: 2%;
     color:#0F3E60;
     font-size:3rem;
    letter-spacing: 5px;
    
}