/*MAIN CSS FILE*/


/*V1*/


/***** Homepage ******/

* {
    box-sizing: border-box;
}

html {
    background-color: #FEC52E;
}

#title {
    padding-top: 10%;
}

#title p {
    font-size: 8rem;
    margin: 0;
    text-align: center;
    color: #0F3E60;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

a .mainbttn {
    text-decoration: none;
    color: black;
}

#buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.mainbttn {
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 1%;
    font-family: 'Josefin Sans', regular;
}

.mainbttn p {
    background-color: white;
    border: 2px solid white;
    border-radius: 65px;
    padding: 8%;
    font-size: 3rem;
    color: #0F3E60;
}

#hero img {
    width: 70%;
    margin: 15%;
}

#text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Josefin Sans', regular;
    text-align: center;
    padding: 2%;
    color: #0F3E60;
    font-size: 3rem;
    letter-spacing: 5px;
}


/* Media Queries */


/* Portrait and Landscape */

@media only screen and (min-device-width: 500) and (max-device-width: 864) and (-webkit-min-device-pixel-ratio: 1) {
    #text {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: blue;
    }
}

@media only screen and (min-device-width: 1800) {
    #title p {
        font-size: 40rem;
        margin: 0;
        text-align: center;
        color: #0F3E60;
        font-weight: bold;
        font-family: 'Josefin Sans', sans-serif;
    }
}