
/*BACKGROUND COLORS*/
.seq li.seq-step1{background-color: #FF8158;}
.seq li.seq-step2{background-color: #FF8158;}
.seq li.seq-step3{background-color: #FF8158;}
.seq li.seq-step4{background-color: #FF8158;}
.seq li.seq-step5{background-color: #FF8158;}
.seq li.seq-step6{background-color: #FF8158;}

.seq .seq-content{ 
    padding: 10%;
}

.inner-container{
     min-height: 80vh;
}

/*ARROWS*/
fieldset{border: none;}

.seq .seq-nav{
    z-index: 999;
    opacity: 1;
    display: flex;
    position: absolute;
    flex-flow: row nowrap;
    width: 100%;
    top: 50%;
}

.seq .seq-nav button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.seq .seq-nav button {
    width: 40%;
}

.arrow-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.seq .seq-nav .seq-prev{text-align: left;}
.seq .seq-nav .seq-next{text-align: right;}

.seq .seq-nav .seq-prev img{
    transform: rotate(180deg);
    width: 30%;
}

.seq .seq-nav .seq-next img{
    width: 30%;
    padding-right: 8%;
}

/**/

/*LINK BTTNS*/
.link-container{
    height: 20vh;
    display: flex;
    margin-top: 3%;
}

.home-button{
    position: relative;
    text-align: left;
}

.home-button img{
    width: 25%;
}

.info-button{
    position: relative;
    width: inherit;
    text-align: right;
    margin-right: 10%;
    z-index: 999;
}

.info-button p{
    color: black;
    font-size: 2rem;
    padding: 5% 70%;
    border: solid white 2px;
    border-radius: 30px;
    background-color: white;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

/*SHOW OVERLAY*/
.hidden{
    display: none;
}

.active{
    display: inline-block;
    position: absolute;
}

/*OVERLAY STYLING*/
#overlay-container{
    z-index: 999;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(192,192,192,0.8);
    text-align: center;
}

#overlay-container #inner-container{
    width: 70%;
    height: 70%;
    margin: 5%;
    margin-top: 15%;
    padding: 10%;
    border: solid white 3px;
    border-radius: 30px;
    background-color: white;
}

#close-container{
    position: absolute;
    left: 10%;
    top: 10%;
    width: inherit;
    text-align: left;
}

#close-container img{
    width:20%;
    position: relative;
}