/*
html { 
  background-color: #3F51B5;
  position: relative;
  min-height: 100%;
}

body{
    margin: 0 0 200px;
    padding: 25px;
}
.hidden {
  display: none;
}

.container {
  margin: 0;
  max-width: 750px;
  margin:10vh auto 0 auto;
}

.container > div {
  display: inline-block;
}

#slideshow {
  margin: 0;
	position: relative;
	width: 620px;
  height: 250px;
}

#slideshow > div {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
}

#arrow_container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:50%;
}

.arrow img{
    width: 110%;   
}

#L img{
    transform: rotate(180deg);
}

.arrow{
    width: 10%;
}

#slideshow img {
  width: 100%;
  margin: 0;
  border: solid 1px #283593;
}

.bttn_container{
    display: flex;
    position: absolute;
    flex-flow: row nowrap;
    height: 200px;
    width: 100%;
    overflow: hidden;
    left: 0;
    bottom: 0;
}

.homebttn{
    width: 30%;
}*/
